.Button {
  border: none;
  background: none;

  &_size {
    &_medium {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.19s ease-in-out;
      background-color: var(--background-color);
      border: 1px solid var(--border-color);
      color: var(--text-color);
    
      &:hover {
        background-color: var(--border-color);
        color: var(--background-color);
    
      }
    }
  }
  
  &_type {
    &_active {
      background-color: var(--border-color);
      color: var(--background-color);
    }

    &_delete {
      color: red;
      border: 1px solid red;
    }
  }
}


