.main {
  position: static;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: end;

  &__name {
    color: var(--text-color);
  }
}