[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --border-color: #ffffff;
  --second-background: #424242;
}

[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #121212;
  --border-color: #121212;
  --second-background: #B6B6B6;
}