.container {
  background-color: var(--background-color);
  color: var(--text-color);
  min-width: 820px;
  margin: 0 auto;
}

@media screen and (max-width: 820px) {
  .container {
    width: 100%;
    min-width: unset;
  }

  .content {
    margin-top: 2.5rem;
  }
    
}
